@import url("/sass/Utils/_variables.scss");

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins";
}

header{
    // margin-bottom: 100px;
    & nav{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 2px #0725bd;
        background-color: white;
        position: fixed;
        width: 100%;
        z-index: 1;
        
        & .header-nav{          
            margin-left: 48px;
            & ul{
                display: flex;
                align-items: center;

                & img{
                    width: 90px;
                }

                & a{
                    color: black;
                    font-weight: 100;

                    & .active{
                        color: #0725bd;
                    }

                    &:hover{
                        color: #0725bd;
                    }
                }

                & li{
                    padding: 0px 60px 0px 60px;
                }
            }
        }

        & .header-icon{
            position: absolute;
            right: 3em;
            & i{
                margin: 0px 10px 0px 0px;
                color: #0725bd;
                font-size: 20px;
            }
        }
    }
}

.page1{
    background-image: url("/images/dpa/fond-accueil.jpg");
    background-repeat: no-repeat;
    height: 830px;
    padding-bottom: 100px;


    .ancre_page1{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 400px;
        right: 50px;
        

        img{
            margin-bottom: 10px;
            width: 25px;
            cursor: pointer;
        }
    }

    &__container{
        display: flex;
        justify-content: center;
        padding: 320px 0px 0px 0px;
        &--text{
            & h1{
                text-align: center;
                font-weight: 700;
                font-size: 70px;
                color: white;
            }

            & h2{
                font-weight: 700;
                font-size: 70px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: white;
            }

            & p{
                display: flex;
                justify-content: center;
                font-weight: 300;
                font-size: 30px;
                padding: 0px 0px 20px 0px;
                color: white;
            }
        }

        &--icone{
            display: flex;
            justify-content: center;
            font-size: 25px;

            & div{
                display: flex;
                border-top: 1px solid white;
                padding: 0px 35px 0px 35px;

                & a{
                    padding: 15px 20px 0px 20px;
                    color: white;
                }
            }
        }
    }
}

.page2{
    background-image: url("/images/dpa/fond-page2.png");

    .ancre_page2{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 77em;
        right: 50px;
        

        img{
            margin-bottom: 10px;
            width: 25px;
            cursor: pointer;
        }
    }
    
    &__container{
        text-align: center;
        margin-top: 51px;

        & h2{
            font-size: 35px;
            color: #0725bd;
        }

        & p{
            width: 1000px;
            margin: auto;
            margin-top: 20px;
        }

        &__dcw{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;

            &--design{
                background-image: url("/images/dcw/image-design");
                background-size: 195%;
                margin-right: 80px;
                padding: 160px 167px 160px 167px;
                border-radius: 20px;
                color: white;
                border: 1px solid black;
                height: 150px;
                display: flex;
                align-items: center;

                & h2{
                    font-size: 25px;
                    color: white;
                }
            }

            &--consulting h2{
                color: white;
            }

            &--web h2{
                color: white;
            }

            &--consulting{
                background-image: url("/images/dcw/image-consulting");
                background-size: 195%;
                padding: 160px 40px 160px 40px;
                margin-right: 80px;
                border-radius: 20px;
                color: white;
                border: 1px solid black;
                height: 150px;
                display: flex;
                align-items: center;

                & h2{
                    font-size: 25px;
                }
            }

            &--web{
                background-image: url("/images/dcw/image-web");
                background-size: 195%;
                padding: 160px 188px 160px 188px;
                border-radius: 20px;
                color: white;
                border: 1px solid black;
                height: 150px;
                display: flex;
                align-items: center;

                & h2{
                    font-size: 25px;
                }
            }
        }

        button{
            margin-bottom: 40px;
            font-size: 20px;
            padding: 5px 10px 5px 10px;
            color: white;
            background-color: #0725bd;
            border-color: #0725bd;
            border-style: solid;
            cursor: pointer;

            &:hover{
                background-color: white;
                color: #0725bd;
                border-color: #0725bd;
            }
        }
    }
}