@media screen and (max-width: 1600px){    
    #close-onglet-service{
        height: 400% !important;
        width: 100%;
    }


    .page1{
        .ancre_page{
            top: 300px;
        }

        .page1__container{
            display: flex;
            justify-content: center;
            padding: 250px 0px 0px 0px;
        }
    }

    .page2{
        .ancre_page{
            top: 300px;
        }

        .page2__container{
            h2{
                font-size: 30px;
            }
            .page2__container__dcw{
                margin-bottom: 25px;
                .page2__container__dcw--design{
                    width: 320px;
                    height: 350px;
                    background-size: 250%;
                }

                .page2__container__dcw--consulting{
                    width: 320px;
                    height: 350px;
                    background-size: 270%;
                }

                .page2__container__dcw--web{
                    width: 320px;
                    height: 350px;
                    background-size: 250%;
                }
            }

            button{
                font-size: 16px;
            }
        }
    }

    .page3{
        background-size: cover;
        .ancre_page{
            top: 300px;
        }

        .page3__container{
            h2{
                font-size: 25px;

                .page3__container__slide--h3{
                    width: 800px;
                }
            }

            p{
                font-size: 15px;
            }
        }

        .page3__container__slide{
            margin-top: 25px;
        }

        .page3__container__slide--h3{
            width: 900px;
            height: 410px;
            background-repeat: no-repeat;

            h3{
                bottom: 10px;
            }
        }

        .page3__container__slide__arrow{
            margin-top: 10px;
        }
    }

    .page4{
        background-size: cover;
        .ancre_page{
            top: 300px;
        }

        .page4__container{
            h2{
                font-size: 30px;
            }

            .page4__container__avis{
                width: 1100px;
                height: 200px !important;
                margin-top: 20px;

                &__style{
                    padding: 10px 70px;
                }
            }

            .page4__container__avis__style__type--desc{
                margin-bottom: 20px;
            }

            .note-onest{
                margin-top: 40px;
            }
        }
    }

    .page5{
        .ancre_page{
            top: 300px;
        }

        .page5__container{
            .page5__container__content{
                margin-top: 30px;
                max-width: 1200px;

                &__chiffre{
                    margin-top: 30px;

                    h4{
                        font-size: 50px;

                        span{
                            font-size: 50px;
                        }
                    }

                    p{
                        font-size: 20px;
                        margin-top: 0px;
                    }
                }

                &__desc{
                    img{
                        width: 400px;
                        height: 350px;
                    }

                    p{
                        font-size: 15px;
                    }

                    ul{
                        li{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    #footer{
        padding-bottom: 210px !important;
        .ancre_page{
            top: 300px;
        }

        .footer__container{
            .footer__container__p p{
                font-size: 30px;
                margin-top: 40px;
            }
        
            .footer__container__info{
                margin: 60px auto;
            }
        }

        .agence-mention{
            left: 350px !important;
        }
    }

    // PAGE SERVICES

    .page1-services{
        .ancre_page{
            top: 300px;
        }

        .page1-services__container{
            padding-top: 110px;

            p{
                margin-top: 10 auto auto;
                font-size: 16px;
            }

            .page1-services__container__dsw{
                margin-top: 30px;
                max-width: 1200px;

                &__details{
                    height: 300px;
                    width: 310px;
                    background-size: cover;
                    border-radius: 25px;

                    h3{
                        font-size: 35px;
                        width: 50% !important;
                        margin: auto;
                    }
                }
            }
        }
    }

    .page2-services{
        .ancre_page{
            top: 300px;
        }

        .page-2-services__container__details{
            margin-top: 250px !important;

            h2{
                font-size: 80px !important;
            }
        }

        .page-2-services__container__liste ul{
            padding-left: 20px;
        }

        .page-2-services__container__liste ul li{
            height: 90px !important;
            width: 260px !important;
            background-size: cover!important;
            font-size: 16px !important;
        }

            
    }

    .page3-services{

        .ancre_page{
            top: 300px;
        }

        .page-3-services__container__details{
            margin-top: 250px !important;

            h2{
                font-size: 80px !important;
            }
        }

        .page-3-services__container__liste ul{
            padding-left: 20px;
        }

        .page-3-services__container__liste ul li{
            height: 90px !important;
            width: 280px !important;
            background-size: cover!important;
            font-size: 16px !important;

            p{
                width: 50%!important;
            }
       }
    }

    .page4-services{
        .ancre_page{
            top: 300px;
        }

        .page-4-services__container__details{
            margin-top: 250px !important;

            h2{
                font-size: 80px !important;
            }
        }

        .page-4-services__container__liste ul{
            padding-left: 20px;
        }

        .page-4-services__container__liste ul li{
            height: 90px !important;
            width: 280px !important;
            background-size: cover!important;
            font-size: 16px !important;

            p{
                width: 50%!important;
            }
       }
    }

    // PAGE CONTACT

    .page-contact{

        &__titre{
            width: 1350px !important;
        }

        .page-contact__titre__p{
            p{
                font-size: 25px;
            }
        }

        &__info{
            margin: 80px auto auto !important;
        }
    }

    // PAGE CONNECT

    .page-connect{
        &__container{
            padding-top: 130px !important;
            .time{
                width: 65px !important;
            }

            h1{
                font-size: 30px !important;
            }

            &__info{
                width: 1400px;
                margin: auto;
                margin-top: 25px !important;

                &__details{
                    margin-bottom: 0px;

                    p{
                        width: 35% !important;
                        font-size: 14px;
                    }
                }
            }
        }

        .agence-connect{
            font-size: 15px !important;
            margin-top: 0px !important;
        }

        .mention-legal-connect a{
            font-size: 15px !important;
        }
    }
}





