@media screen and (max-width: 500px) {
    .page1{
        .ancre_page{
            display: none;
        }
    }

    header{
        nav{
            position: initial!important;

            .header-nav{
                margin-left: 0!important;
            }

            .header-icon{
                right: 1em !important;

                i{
                    font-size: 15px !important;
                }
            }

            ul{
                li{
                    padding: 0px!important;
                }

                div{
                    display: none!important;
                }
                
                img{
                    width: 50px !important;
                }
            }
        }
    }

    .page2, .page3, .page4, .page5, footer{
        display: none;
    }

    .page1{
        background-image: url("/images/Téléphone/Accueil/Fond/fond-acceuil-1\ 2.png") !important;
        height: 92vh !important;

        &__container{
            padding: 80px 0px 0px 0px !important;
            &--text{
                text-align: center;
                padding: 0px 5px 0px 5px;

                span{
                    color: #0725bd;
                }

                h1{
                    font-size: 30px !important;
                }

                h2{
                    font-size: 30px !important;
                }

                p{
                    margin-top: 20px;
                    font-size: 20px !important;
                }
            }

            &--icone{
                div{
                    border-top: 1px solid #0725bd !important;
                }
            }
        }
    }
}