@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "BebasNeue";
    src: url("/fonts/BebasNeue.ttf") format("truetype");
}

@font-face {
    font-family: "Houschka";
    src: url("/fonts/Houschka.ttf") format("truetype");
}