@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "BebasNeue";
    src: url("/fonts/BebasNeue.otf") format("truetype");
}