@media screen and (max-width: 1800px){   
    .page1{
        .ancre_page{
            top: 350px;
        }

        .page1__container{
            display: flex;
            justify-content: center;
            padding: 250px 0px 0px 0px;
        }
    }

    .page2{
        .ancre_page{
            top: 350px;
        }

        .page2__container{
            h2{
                font-size: 30px;
            }
            .page2__container__dcw{
                .page2__container__dcw--design{
                    width: 320px;
                    height: 400px;
                    background-size: 250%;
                }

                .page2__container__dcw--consulting{
                    width: 320px;
                    height: 400px;
                    background-size: 270%;
                }

                .page2__container__dcw--web{
                    width: 320px;
                    height: 400px;
                    background-size: 250%;
                }
            }

            button{
                font-size: 16px;
            }
        }
    }

    .page3{
        background-size: cover;

        .ancre_page{
            top: 350px;
        }

        .page3__container{
            h2{
                font-size: 25px;

                .page3__container__slide--h3{
                    width: 800px;
                }
            }

            .arrow-slide{
                font-size: 20px;
            }

            p{
                font-size: 16px;
            }
        }

        .page3__container__slide--h3{
            width: 1000px;
            height: 410px;
            background-repeat: no-repeat;

            h3{
                bottom: 10px;
            }
        }

        .page3__container__slide__arrow{
            margin-top: 20px;
        }
    }

    .page4{
        background-size: cover;

        .ancre_page{
            top: 350px;
        }

        .page4__container{
            h2{
                font-size: 30px;
            }

            .page4__container__avis{
                height: 200px;
                width: 1100px;

                &__style{
                    padding: 10px 70px;
                }
            }

            .page4__container__avis__style__type--desc{
                margin-bottom: 20px;
            }

            .note-onest{
                margin-top: 40px;
            }
        }
    }

    .page5{
        .ancre_page{
            top: 350px;
        }

        .page5__container{

            .page5__container__content{
                max-width: 1300px;

                &__chiffre{
                    margin-top: 100px;

                    h4{
                        font-size: 40px;
                    }

                    p{
                        font-size: 30px;
                        margin-top: 0px;
                    }
                }

                &__desc{
                    img{
                        width: 500px;
                        height: 350px;
                    }

                    p{
                        font-size: 16px;
                    }

                    ul{
                        li{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    #footer{
        .ancre_page{
            top: 350px;
        }

        .footer__container{
            .footer__container__p p{
                font-size: 30px;
                margin-top: 40px;
            }
        
            .footer__container__info{
                margin: 150px auto;
            }
        }

        .agence-mention{
            left: 450px !important;
        }
    }

    // PAGE SERVICES

    .page1-services{
        .ancre_page{
            top: 350px;
        }

        .page1-services__container{
            padding-top: 120px;
        }
    }

    .page2-services{
        .ancre_page{
            top: 350px;
        }

        .page-2-services__container{
            .page-2-services__container__liste ul{
                margin-top: 130px!important;
            }
    
            .page-2-services__container__info{
                top: 125px !important;
                left: 150px !important;
            }

            .page-2-services__container__left{
                padding: 110px 60px 110px 80px;

                p:nth-child(3){
                    font-size: 16px;
                    font-weight: 300;
                    width: 70%;
                    font-family: "Poppins";
                    margin-top: 15px;
                }
    
                p:nth-child(4){
                    font-size: 16px;
                    font-weight: 300;
                    margin-top: 25px;
                }
            }

            .page-2-services__container__right{
                .streampack-service{
                    width: 700px;
                    padding: 80px 30px 0px 30px;
                }

                div{
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }

    .page3-services{
        .ancre_page{
            top: 350px;
        }
    }

    .page4-services{
        .ancre_page{
            top: 350px;
        }
    }

    // PAGE CONTACT

    .page-contact{
        .page-contact__titre__p{
            p{
                font-size: 30px;
            }
        }

        &__info{
            margin: 180px auto auto !important;
        }
    }

    // PAGE CONNECT

    .page-connect{
        &__container{
            padding-top: 105px !important;
            .time{
                width: 80px !important;
            }

            h1{
                font-size: 35px !important;
            }

            &__info{
                width: 1700px;
                margin: auto;
                margin-top: 40px !important;

                &__details p{
                    width: 45% !important;
                    font-size: 15px;
                }
            }
        }

        .agence-connect{
            margin-top: 90px !important;
        }
    }
}







